[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  # Tell Netlify that these keys are safe to be public
  SECRETS_SCAN_OMIT_KEYS = "VITE_SUPABASE_URL,VITE_SUPABASE_ANON_KEY"
